name: Generate Cypress Report
on:
  push:
    branches:
      - 'master'

jobs:

  cypress-test:
    name: Run on Chrome 83
    runs-on: ubuntu-latest
    container: cypress/browsers:node12.18.0-chrome83-ff77
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v2

      - name: Install cypress and verify
        run: |
          npm i
 
      - name: Run Cypress tests
        run: npm run test:chrome
        continue-on-error: true

      - name: Copy test execution videos and screenshots
        run: |
          mkdir public
          cp -r cypress/screenshots public/screenshots

      - name: Merge test reports
        run: npm run combine:report

      - name: Generate HTML report
        run: npm run generate:report

      - name: Deploy report page to GitHub Page
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
